.title {
  h1 {
    font-size: 1.6em;
    display: inline;
  }
  input {
    width: 200px;
    border: 0;
    border-bottom: 1px solid;
    &:hover,
    &:active,
    &:focus {
      outline: none;
      border-bottom-color: rgb(57, 165, 220);
    }
    background: transparent;
  }
}
