language: java
jdk:
  - openjdk8
cache:
  directories:
    - "$HOME/.m2"
before_install:
  - export LAUNCHER_MISSIONCONTROL_OPENSHIFT_CLUSTERS_FILE=$TRAVIS_BUILD_DIR/clusters.yaml
install:
  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -Ddownload.cache.skip -B -V
script:
  - mvn test failsafe:integration-test failsafe:verify -Pit -B -V