# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/openjdk:8u171-jdk

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m
      KEYCLOAK: OFFICIAL

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          key: launcher-{{ checksum "pom.xml" }}

      - run: mvn install -Dmaven.test.skip=true -DfailIfNoTests=false -DskipTests -V

      - save_cache:
          paths:
            - ~/.m2
          key: launcher-{{ checksum "pom.xml" }}

      # Set up environment
      - run: source launcher-env-template.sh

      # run tests!
      - run: mvn -Dsurefire.rerunFailingTestsCount=2 test failsafe:integration-test failsafe:verify -Pit -V

      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: ~/test-results/junit
