.capability-card {
  margin-bottom: 10px;

  .capability-card-header {
    padding-bottom: 30px;
    font-weight: bold;
    svg {
      width: 25px;
      height: 25px;
      margin-right: 15px;
    }
    
  }

  .capability-card-body {
    p {
      margin-bottom: 10px;
    }
  }



  .capability-card-separator {
    width: 100%;
    min-height: 1px;
    padding-left: 20px;
    padding-right: 20px;

    hr {
      margin-top: 20px;
      margin-bottom: 20px;
      border: 0;
      border-top: 1px solid #f1f1f1;
    }
  }
}