<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
    <profile>
      <id>repositories</id>
      <repositories>
        <repository>
          <id>Maven Central</id>
          <url>http://repo1.maven.org/maven2/</url>
        </repository>
        <repository>
          <id>jboss-snapshots-repository</id>
          <name>JBoss SnapShot Repository</name>
          <url>https://repository.jboss.org/nexus/content/repositories/snapshots</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
        <repository>
          <id>cloudbee - wildfly</id>
          <url>http://repository-projectodd.forge.cloudbees.com/snapshot</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>Maven Central</id>
          <url>http://repo1.maven.org/maven2/</url>
        </pluginRepository>
        <pluginRepository>
          <id>jboss-snapshots-repository</id>
          <name>JBoss SnapShot Repository</name>
          <url>https://repository.jboss.org/nexus/content/repositories/snapshots</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>cloudbee - wildfly</id>
          <url>http://repository-projectodd.forge.cloudbees.com/snapshot</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>repositories</activeProfile>
  </activeProfiles>
</settings>